body {
  background-color: rgb(243, 205, 210);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

h1 {
  font-size: 4ch;
}

.first {
  color: rgb(228, 42, 166);
}

#your-name {
  background-color: rgb(235, 162, 238);
  border: 5px solid purple;
}
